/* body{
    background: linear-gradient(to right, lightblue, Red, lightgreen);
} */

/* body{ */
    /* background-image: url('img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    /* background: url() no-repeat center center fixed; */
    
/* } */
/* p{
    font-family: Georgia;
    font-size: x-large;
    color: blue;
    text-decoration: underline;
    direction: rtl;
    padding: 20px 30px;
    border: solid 10px red;
    margin: 20px;
}
 */


/* #div1{
    height: 100px;
    width: 100px;
    margin: 100px;
    border: solid 5px red;
    transition: transform 3s linear;
}
#div1:hover{
    transform: skew(20deg,20deg);
} */

body{
    background-color: blueviolet;
}




@media only screen and (max-width: 480px){
    body{
        background-color: lightcoral;
    }
}












